<link rel="stylesheet" href="/stylesheets/fileUpload/iconfont.css" />
<link rel="stylesheet" href="/stylesheets/fileUpload/fileUpload.css">

<link rel="stylesheet" href="/ckeditor/samples/toolbarconfigurator/lib/codemirror/neo.css">

<script src="/ckeditor/ckeditor.js"></script>
<script src="/ckeditor/samples/js/sample.js"></script>

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="/index">Home</a>
    </li>
    <li>
      <a href="/users">用户管理</a>
    </li>
    <li class="active">用户信息编辑</li>
  </ul><!-- /.breadcrumb -->
</div>

<div class="page-content" ng-app="myApp" ng-controller="myCtrl">
  <div class="row">
    <div class="col-xs-12">
      <div class="row option-bar">
        <div class="col-xs-12">
          <a href="/users" class="btn btn-option btn-default" id="btn-back">
            <i class="fa fa-reply"></i> &nbsp;
            返回
          </a>
          <button type="button" class="btn btn-option btn-purple" ng-click="onUploadPhoto()">
            <i class="fa fa-upload"></i> &nbsp;
            上传照片
          </button>
          <button type="button" class="btn btn-option btn-primary" ng-click="onSubmit()">
            <i class="fa fa-save"></i> &nbsp;
            提交
          </button>
          <button type="button" class="btn btn-option btn-danger" ng-click="onDelete()">
            <i class="fa fa-trash"></i> &nbsp;
            删除
          </button>
        </div>
      </div>

      <div class="row" style="margin-top: 35px">
        <div class="col-md-2">
          <div class="user-photo">
            <span class="profile-picture">
              <img ng-src="\{{model.userPhoto}}" style="width: 200px; height: 200px">
            </span>
          </div>
        </div>
        <div class="col-md-10">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">姓名</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" maxlength="15" ng-model="model.userName">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">手机号码</label>
              <div class="col-sm-6">
                <input type="text" class="form-control" maxlength="11" ng-blur="onCellphoneBlur()" ng-model="model.cellphone">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">个人简介</label>
              <div class="col-sm-6">
                <textarea class="form-control" name="introduction" id="introduction" ng-model="model.introduction"></textarea>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" tabindex="-1" role="dialog" id="photo-upload-modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">上传图片（*.jpg, *.jpeg, *.png）请上传1:1尺寸的图片</h4>
        </div>
        <div class="alert alert-danger store-alert hidden">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span></span>
        </div>
        <div class="modal-body">
          <div id="file-upload-image" class="fileUploadContent"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" id="btn-save-upload-images" ng-click="onLoadImage()">保存</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div>

</div>



<input type="hidden" value="{{option}}" id="hidden_option">
<input type="hidden" value="{{userID}}" id="hidden_userID">
<script src="/javascripts/fileUpload/fileUpload.js"></script>
<script src="/javascripts/view/userEdit.js"></script>